@model IEnumerable<ConsumptionModel>
@{
	ViewData["Title"] = "Home Page";
	var consumprionData = Model;
}

<div class="text-center">
	@if (User.Identity.IsAuthenticated)
	{
		<h1 class="display-4">Добро пожаловать @User.Identity.Name</h1>
		<a asp-controller="Consumption" asp-action="Index">Добавить трату</a>
		@if (consumprionData != null)
		{
			@foreach (var consumprion in consumprionData)
			{
				<h1 class="display-4">@consumprion.ConsumptionText</h1>
			}
		}
	}
	else
	{
		<h1 class="display-4">Авторизуйтесь чтобы увидеть учет расходов</h1>
	}
</div>
