@model IEnumerable<Consumption>
@{
	ViewData["Title"] = "Home Page";
	var consumprionData = Model;
}

<div class="text-center">
	@if (User.Identity.IsAuthenticated)
	{
		<h1 class="display-4">Добро пожаловать @User.Identity.Name</h1>
		<a asp-controller="Consumption" asp-action="Index">Добавить трату</a>
		@if (consumprionData != null)
		{
			double sum = 0;
			@foreach (var consumption in consumprionData)
			{
				sum += consumption.ConsumptionSum;
				<h1 class="display-6">Трата:@consumption.ConsumptionText</h1>
				<h1 class="display-6">Цена:@consumption.ConsumptionSum</h1>
				<hr />
			}
			<h1 class="display-3">Всего к оплате:@sum</h1>
		}
	}
	else
	{
		<h1 class="display-4">Авторизуйтесь чтобы увидеть учет расходов</h1>
	}
</div>
